extends layout
append head
  style.
    .center{
      text-align: center;
      margin: 0 auto;
    }
block content
  h1(style="font-size:1.8rem;" class="center")= title
  p(style="font-size:1rem" class="center") Welcome to #{title}
  div(style="margin:8rem auto;" class="center")
    img(src="/images/svgFox.svg",style="margin:0 auto;width:960px;height:640px;")
